<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb navbar-breadcrumb">
            <li>Release</li>
            <li class="active">New</li>
        </ol>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
        </div>
    </div>
    <div class="row" *ngIf="train">
        <form (ngSubmit)="onSubmit()" #trainForm="ngForm">
            <div class="form-group">
                <label for="trainName">Release Name</label>
                <input type="text" class="form-control" id="trainName" [ngModel]="train.name">
            </div>
            <div class="form-group">
                <label>Target Date</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control"
                           [ngModel]="train.targetDate"
                           (focus)="showDatePicker=true"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <datepicker *ngIf="showDatePicker" [(ngModel)]="train.targetDate"
                            [showWeeks]="true"></datepicker>
            </div>
            <div class="form-group">
                <label for="trainStatus">Status</label>
                <input type="text" class="form-control" id="trainStatus" [ngModel]="train.status">
            </div>
            <div class="form-group">
                <label for="trainCountries">Countries</label>
                <input type="text" class="form-control" id="trainCountries"
                       [ngModel]="train.countryList">
            </div>
            <div class="form-group">
                <label for="trainDesc">Description</label>
            <textarea class="form-control" id="trainDesc" rows="3"
                      [ngModel]="train.description"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>
