<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb navbar-breadcrumb">
            <li>Release</li>
            <li class="active">Home</li>
        </ol>
    </div>
    <div class="row">
        <h4>Release Trains
            <button class="btn btn-default btn-xs" [routerLink]="['TrainCreate']"><i
                    class="fa fa-plus"></i></button>
        </h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form class="form-inline pull-left">
                <div class="form-group">
                    <input type="text" class="form-control" id="query"
                           placeholder="search...">
                </div>
                <button type="submit" class="btn btn-default">search</button>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>name</th>
                    <th>target date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#train of trains; #idx=index" (click)="onTrainSelected(idx)"
                    [class.active]="idx==trainSelectionIdx">
                    <td>{{ train.name}}</td>
                    <td>{{ train.targetDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <div id="map"></div>
        </div>
    </div>

    <!-- start release train detail section-->
    <div class="row" *ngIf="trainSelected">
        <h5>{{ trainSelected.name }}
            <button class="btn btn-default btn-xs" (click)="edit()"><i class="fa fa-pencil"></i></button>
        </h5>
        <div class="col-md-6 col-sm-12">
            <h6>train info</h6>
            <table class="table">
                <thead>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>countries:</td>
                    <td>{{trainSelected.countryList}}</td>
                </tr>
                <tr>
                    <td>target date:</td>
                    <td>{{trainSelected.targetDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <h6>Artifacts
                <button class="btn btn-default btn-xs" [routerLink]="['ArtifactAdd',{trainName:trainSelected.name}]"><i class="fa fa-plus"></i></button>
            </h6>
            <table class="table">
                <thead>
                <tr>
                    <th>name</th>
                    <th>type</th>
                    <th>country</th>
                    <th>url</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>atlas-xxx</td>
                    <td>road</td>
                    <td>USA</td>
                    <td>massilia://xxx</td>
                </tr>
                <tr>
                    <td>atlas-xxx</td>
                    <td>road</td>
                    <td>CAN</td>
                    <td>massilia://xxx</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



