<form class="form-inline pull-left">
    <div class="form-group">
        <input type="text" class="form-control" id="query"
               placeholder="search...">
    </div>
    <button type="submit" class="btn btn-default">search</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>name</th>
        <th>owner</th>
        <th>schedule</th>
        <th>health</th>
        <th>action</th>
        <!--<th>action</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#dag of dags">
        <td><a (click)="gotoDetail(dag)"><span class="h5">{{dag.dagId}} </span> </a>
        </td>
        <td>{{dag.owners}}</td>
        <td><span class="label label-info"
                  [ngClass]="{'label-info':dag.schedule!='None',
        'label-default': dag.schedule=='None'}">{{dag.schedule}}</span></td>
        <td><span class="label" [ngClass]="{'label-success': dag.health=='good',
        'label-warning': dag.health=='bad'}">{{ dag.health}}</span></td>
        <td>
            <button type="button" class="btn btn-default btn-xs"
                    (click)="gotoDetail(dag)" title="view detail"><i
                    class="fa fa-search"></i>
            </button>
        </td>
    </tr>
    </tbody>

</table>

<pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
            class="pagination-sm" (pageChanged)="onPageChanged($event)"
            [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
            [itemsPerPage]="itemsPerPage"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;" class="pull-right"></pagination>
