<ol class="breadcrumb navbar-breadcrumb">
    <li [routerLink]="['DagList']" style="cursor: pointer;">Workflow</li>
    <li [routerLink]="['DagDetail',{dagId:dagId}]" style="cursor: pointer;">{{dagId}}</li>
    <li>{{taskId}}</li>
    <li class="list">{{executionDate}}</li>
</ol>
<div>
    <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
</div>
<div *ngIf="taskRun" class="container-fluid">
    <h4>{{taskRun.taskId}} ({{taskRun.dagId}})</h4>

    <div class="row">
        <div class="col-md-3">
            <strong>Exec Date: </strong>{{taskRun.executionDate}}
        </div>

        <div class="col-md-1">
            <strong>version: </strong>{{taskRun.version}}
        </div>

        <div class="col-md-1">
            <strong>state: </strong>
            <span class="label"
                  [ngClass]="{
                                'label-success': taskRun.state=='success',
                                'label-danger': taskRun.state=='failed',
                                'label-default': taskRun.state == 'pending',
                                'label-info': taskRun.state == 'running'}">
                            {{taskRun.state}}</span>
        </div>
        <div class="col-md-3">
            <strong>hostname: </strong>{{taskRun.hostname}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong>startTime: </strong>{{taskRun.startDate}}
        </div>

        <div class="col-md-3">
            <strong>endTime: </strong>
            {{taskRun.endDate}}
        </div>
        <div class="col-md-4">
            <strong>upstreams: </strong>
            {{taskRun.upstreams}}
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-default" (click)="onAbort()"
                *ngIf="taskRun.state=='running'|| taskRun.state=='queued' || taskRun.state==null">
            <span class="fa fa-stop-circle-o"></span> abort
        </button>
        <button type="button" class="btn btn-default" (click)="onReRun()"><span
                class="fa fa-undo"></span>
            re-run
        </button>
        <button type="button" class="btn btn-default" (click)="onViewLog()"><span
                class="fa fa-eye"></span>
            view log
        </button>
    </div>
    <div class="row" *ngIf="showReRun">
        <button type="button" class="btn btn-default" (click)="onReRunConfirm('single')">
            Single
        </button>
        <button type="button" class="btn btn-default" (click)="onReRunConfirm('upstream')">
            Upstream
        </button>
        <button type="button" class="btn btn-default" (click)="onReRunConfirm('downstream')">
            Downstream
        </button>
    </div>
    <div class="row" *ngIf="showLog">
        <pre>{{logText}}
        </pre>
    </div>
</div>

