<div class="container-fluid">
    <form (ngSubmit)="onSubmit()" #bagForm="ngForm">
        <div class="form-group">
            <label for="bagName">Name</label>
            <input type="text" class="form-control" id="bagName" [(ngModel)]="bag.name">
        </div>
        <div class="form-group">
            <label for="bagUrl">Url</label>
            <input type="text" class="form-control" id="bagUrl" [(ngModel)]="bag.url">
        </div>
        <div class="form-group">
            <label for="bagBranch">Branch</label>
            <input type="text" class="form-control" id="bagBranch" [(ngModel)]="bag.branch">
        </div>
        <div class="form-group">
            <label for="bagFolder">Folder</label>
            <input type="text" class="form-control" id="bagFolder" [(ngModel)]="bag.folder">
        </div>
        <div class="form-group">
            <label> <input type="checkbox" [(ngModel)]="bag.disabled">
            Disabled</label>
        </div>
        <div class="form-group">
            <label for="bagDesc">Description</label>
            <input type="text" class="form-control" id="bagDesc" [(ngModel)]="bag.description">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>

</div>



