<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb navbar-breadcrumb">
            <li class="active">Settings</li>
        </ol>
    </div>
    <div class="row">
        <tabset>
            <tab heading="General">
            </tab>
            <tab heading="Workflow">
            </tab>
            <tab heading="DataSource">
            </tab>
            <tab heading="Repository">
                <my-bags></my-bags>
            </tab>
            <tab heading="Release">
            </tab>
        </tabset>
    </div>

</div>



