<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb navbar-breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card card-info">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title"><i class="fa fa-calendar"></i> Upcoming Releases
                        </div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="card-body no-padding">
                    <div class="loader-container text-center color-white">
                        <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
                        <div>Loading</div>
                    </div>
                    <ul class="message-list">
                        <a [routerLink]="['Release']">
                            <li>
                                <i class="fa fa-database pull-left"></i>
                                <div class="message-block">
                                    <div><span class="username">C1602</span> <span
                                            class="message-datetime">in 11 days</span>
                                    </div>
                                    <div class="message">
                                        C1602 OSM neutron release
                                    </div>
                                </div>
                            </li>
                        </a>

                        <a [routerLink]="['Release']">
                            <li>
                                <i class="fa fa-database pull-left"></i>
                                <div class="message-block">
                                    <div><span class="username">C1604</span> <span
                                            class="message-datetime">in 40 days</span>
                                    </div>
                                    <div class="message">C1604 OSM neutron release
                                    </div>
                                </div>
                            </li>
                        </a>
                        <a [routerLink]="['Release']">
                            <li>
                                <i class="fa fa-database pull-left"></i>
                                <div class="message-block">
                                    <div><span class="username">C1605</span> <span
                                            class="message-datetime">in 60 days</span>
                                    </div>
                                    <div class="message">C1606 OSM neutron release
                                    </div>
                                </div>
                            </li>
                        </a>
                        <!--<a href="#" id="message-load-more">-->
                        <!--<li class="text-center load-more">-->
                        <!--<i class="fa fa-refresh"></i> load more..-->
                        <!--</li>-->
                        <!--</a>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-success">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Data Map</div>
                    </div>
                </div>
                <div class="card-body no-padding">
                    <div id="d3map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title"><i class="fa fa-tasks"></i> workflow list</div>
                    </div>
                </div>
                <div class="card-body">
                    <my-dags  (goDetailEvent)="gotoDetail($event)"></my-dags>
                </div>

            </div>

        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title"><i class="fa fa-tasks"></i> active tasks</div>
                    </div>
                </div>
                <div class="card-body">
                    <my-dag-runs  (goDetailEvent)="gotoDagRunDetail($event)"></my-dag-runs>
                </div>
            </div>
        </div>
    </div>
</div>





